:root {
  --main-blue-color: #0065fc;
  --main-lightblue-color: #deebff;
  --main-grey-color: #f2f2f2;
  --main-police: "Raleway", "Arial", "Impact";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Definition de la police sur tous les élements*/

body {
  font-family: var(--main-police);
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 1.3em;
}
/*Definition de la largeur du bloc page contenant le header et le main */
.container {
  max-width: 1340px;
  width: 95%;
  margin: auto;
}

/*Style Header*/

.menu {
  display: flex;
  align-items: center;
  height: 100px;
}

.logo_reservia {
  flex: 1;
}

nav {
  display: flex;
  height: 100%;
}

.lien_inscription {
  padding-left: 20px;
  color: var(--main-blue-color);
  font-weight: bold;
}

.menu_nav {
  display: flex;
  align-items: center;
  color: black;
  padding: 0px 20px;
  border-top: 2px solid transparent;
}

.menu_nav:hover {
  color: var(--main-blue-color);
  border-top-color: var(--main-blue-color);
}

.recherche_titre h1 {
  margin: 0px 0px 15px 0px;
  font-size: 1.4em;
  font-weight: bold;
}

.recherche_titre p {
  margin-bottom: 20px;
}
.cont_icone {
  background-color: var(--main-grey-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.map_icone {
  margin: 18px 18px 18px 18px;
}

.bouton_recherche {
  text-decoration: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--main-blue-color);
  color: white;
  border: 0px;
  padding: 15px;
  font-size: 1.1em;
}
.bouton_recherche_loupe {
  display: none;
}
.fa-search {
  font-size: 1.3em;
}

#form_recherche {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.1em;
}

.input_recherche {
  height: 49px;
  border-width: 1px;
  border-color: var(--main-grey-color);
  border-style: solid;
  padding-left: 15px;
  font-family: var(--main-police);
  font-weight: bold;
  font-size: 1.1em;
}
.input_recherche:focus-visible {
  outline: none;
}
#filtres {
  margin: 20px 0px;
}
.filtres_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}
.filtres_info p {
  margin-top: 7px;
}

#filtres,
.filtres_liste {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filtres_icone {
  position: absolute;
  left: -3px;
  bottom: -1px;
  color: var(--main-blue-color);
  border: 1px solid var(--main-lightblue-color);
  border-radius: 50%;
  background-color: var(--main-lightblue-color);
  padding: 16px;
  margin: 0px;
}

.fa-money-bill-wave {
  padding-right: 14px;
  padding-left: 14px;
}

.fa-child {
  padding-left: 18px;
  padding-right: 18px;
}

.fa-dog {
  padding-left: 15px;
  padding-right: 15px;
}
#filtres h2 {
  margin-right: 40px;
}
.filtres {
  position: relative;
  border: 2px solid var(--main-grey-color);
  border-radius: 30px;
  padding: 15px 15px 15px 55px;
  margin: 10px 20px 10px 0;
  color: black;
  font-weight: bold;
}

.filtres:hover {
  color: var(--main-blue-color);
  background-color: var(--main-lightblue-color);
}

.fa-info {
  border: 2px solid var(--main-grey-color);
  color: var(--main-blue-color);
  border-radius: 50%;
  padding: 5px 9px;
  font-size: 0.8em;
  margin-right: 10px;
}

/* Syle Main */

/*Section hébergements*/
.section_hebergements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin-bottom: 40px;
}
.section_hebergements h2 {
  margin-bottom: 30px;
}
.hebergements {
  width: 62%;
  background-color: var(--main-grey-color);
  border-radius: 20px;
  padding: 30px;
}

.resultats_hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image_resultat_hebergements {
  width: 100%;
  height: 59%;
  object-fit: cover;
  object-position: center;
}
.figure_resultat_hebergements {
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.resultat_hebergements {
  height: 210px;
  width: 29%;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-bottom: 30px;
}
.description_hebergements {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 70px;
  padding: 10px 0px 10px 10px;
}

.description_texte {
  color: black;
}
.description_texte h3 {
  font-weight: bold;
  font-size: 1.15em;
  margin-bottom: 10px;
}

.description_texte p {
  font-size: 1em;
}

.description_hebergements ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

/*Style Etoiles*/
.fa-star {
  color: var(--main-blue-color);
  font-size: 0.8em;
}
.star-empty {
  color: var(--main-grey-color);
}

/*Section Populaires*/

.populaires {
  background-color: var(--main-grey-color);
  border-radius: 15px;
  padding: 30px;
  width: 26%;
}

#pop_titre {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.fa-chart-line {
  font-size: 1.5em;
}

.resultats_populaires {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultat_populaires {
  height: 140px;
  width: 100%;
  min-width: 260px;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.image_resultat_populaires {
  width: 40%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.figure_resultat_populaires {
  display: flex;
  margin: 0px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.description_populaires {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 80%;
  width: 60%;
  padding: 20px;
}
.description_populaires h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}
.description_populaires p {
  margin: 5px 0px 0px 0px;
}
.description_populaires ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/*Section activités*/
#activites {
  padding: 15px 0px;
  margin-bottom: 40px;
}
#activites h2 {
  margin-bottom: 20px;
}

.resultats_activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
}

.cont_activites_1 {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.cont_activites_2 {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.resultat_activites {
  width: 48%;
  border-radius: 15px;
  background-color: white;
  border: 1px solid var(--main-grey-color);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.image_resultat_activites {
  object-fit: cover;
}
.figure_resultat_activites {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.description_activites {
  width: 100%;
}
.description_activites h3 {
  margin: 18px 0px 15px 18px;
  font-weight: bold;
  font-size: 1em;
  color: black;
}

/*Activités 1*/
.resultat_activites_1 {
  height: 100%;
}
.image_resultat_activites_1 {
  height: 115%;
  width: 172%;
  object-position: 115% 0%;
}

.cont_image_resultat_1 {
  height: 90%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.description_activites_1 {
  height: 10%;
}

/*activités 2*/

.resultat_activites_2 {
  height: 52%;
}

.image_resultat_activites_2 {
  height: 100%;
  width: 100%;
  object-position: 50% 40%;
}
.cont_image_resultat_2 {
  height: 80%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.description_activites_2 {
  height: 20%;
}

/*activités 3*/
.resultat_activites_3 {
  height: 42%;
}

.image_resultat_activites_3 {
  height: 155%;
  width: 100%;
  object-position: 50% 0%;
}
.cont_image_resultat_3 {
  height: 76%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.description_activites_3 {
  height: 24%;
}

/*activités 4*/
.resultat_activites_4 {
  height: 100%;
}

.image_resultat_activites_4 {
  height: 111%;
  width: 166%;
  object-position: 115% 0%;
}
.cont_image_resultat_4 {
  height: 90%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.description_activites_4 {
  height: 10%;
}

/*activités 5*/
.resultat_activites_5 {
  height: 42%;
}

.image_resultat_activites_5 {
  height: 100%;
  width: 100%;
  object-position: 50% 0%;
}
.cont_image_resultat_5 {
  height: 76%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.description_activites_5 {
  height: 24%;
}

/*activités 6 */

.resultat_activites_6 {
  height: 52%;
}

.image_resultat_activites_6 {
  height: 135%;
  width: 100%;
  object-position: 50% 0%;
}
.cont_image_resultat_6 {
  height: 80%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.description_activites_6 {
  height: 20%;
}

/*Style footer*/
footer {
  width: 100%;
  background-color: var(--main-grey-color);
  font-size: 0.8em;
}

footer .container {
  display: flex;
}

footer div {
  padding: 30px 0px;
  flex: 1 1 auto;
}

footer a {
  color: black;
  font-size: 1.2em;
  line-height: 2em;
}

footer h2 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1300px) {
  .hebergements {
    width: 47%;
  }
  .populaires {
    width: 38%;
  }

  .resultat_hebergements {
    width: 45%;
  }

  .resultats_activites {
    flex-direction: column;
    height: 1100px;
  }
  .cont_activites_1 {
    width: 100%;
    height: 49%;
  }

  .cont_activites_2 {
    width: 100%;
    height: 49%;
  }

  .image_resultat_activites_1 {
    height: 120%;
    width: 100%;
    object-position: 50% 0%;
  }

  .image_resultat_activites_2 {
    height: 100%;
    width: 100%;
    object-position: 50% 50%;
  }

  .image_resultat_activites_3 {
    object-position: 50% 90%;
  }

  .image_resultat_activites_4 {
    height: 100%;
    width: 100%;
    object-position: 50% 10%;
  }
  .image_resultat_activites_5 {
    object-position: 50% 25%;
  }
  .image_resultat_activites_6 {
    object-position: 50% 50%;
  }
}

@media only screen and (max-width: 1100px) {
  .hebergements {
    background-color: white;
    width: 100%;
  }

  .resultat_hebergements {
    border: 1px solid var(--main-grey-color);
  }
  .populaires {
    width: 100%;
  }

  .resultats_populaires {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .resultat_populaires {
    flex: 1 0 40%;
    margin: 15px;
  }

  .image_resultat_activites_1 {
    height: 115%;
    width: 100%;
    object-position: 50% 0%;
  }

  .image_resultat_activites_2 {
    object-position: 50% 43%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .menu_nav {
    flex: 1;
    justify-content: center;
    border-bottom: 2px solid var(--main-grey-color);
  }

  .menu {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo_reservia {
    height: 50%;
    width: 50%;
    padding-left: 15px;
    order: -1;
  }

  nav {
    height: 50%;
    width: 100%;
  }

  .lien_inscription {
    display: flex;
    align-items: center;
    height: 50%;
    padding-right: 15px;
    order: -1;
  }

  .menu_nav:hover {
    color: var(--main-blue-color);
    border-bottom-color: var(--main-blue-color);
    border-top-color: transparent;
  }

  #recherche {
    padding: 0px 15px;
    margin-top: 20px;
  }
  form {
    margin: 30px 0;
  }
  .input_recherche {
    width: 88%;
  }
  .bouton_recherche {
    padding: 14px;
    border-radius: 15px;
    position: absolute;
    right: 0px;
  }
  .bouton_recherche_texte {
    display: none;
  }
  .bouton_recherche_loupe {
    display: block;
  }

  #filtres {
    padding: 0px 15px;
  }

  #filtres h2 {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .filtres_info {
    padding-left: 15px;
  }
  .populaires {
    width: 100%;
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    justify-content: space-between;
  }
  .hebergements {
    width: 100%;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
  }

  #activites {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer .container {
    display: block;
    margin: 0px 15px;
    width: 50%;
  }
}

@media only screen and (max-width: 560px) {
  .resultat_hebergements {
    width: 100%;
  }

  .resultat_populaires {
    margin: 10px 0px;
    width: 100%;
  }
  .resultats_activites {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    position: relative;
    height: 1400px;
    width: 100%;
  }

  .cont_activites_1 {
    align-content: center;
  }
  .cont_activites_2 {
    align-content: center;
  }
  .resultat_activites {
    width: 100%;
    height: 31%;
  }

  .cont_images {
    height: 74%;
  }

  .description_activites {
    height: 26%;
  }

  .image_resultat_activites_1 {
    height: 100%;
    width: 100%;
    object-position: 50% 20%;
  }
}
