:root {
  --main-blue-color: #0065fc;
  --main-lightblue-color: #deebff;
  --main-grey-color: #f2f2f2;
  --main-police: "Raleway", "Arial", "Impact";
}
/* Definition de la police sur tous les élements*/

* {
  font-family: var(--main-police);
}

a {
  text-decoration: none;
}

/*Definition de la largeur du bloc page contenant le header et le main */
.bloc_page {
  width: 95%;
  margin: auto;
}

/*Style Header*/

.menu {
  display: flex;

  align-items: center;
  height: 100px;
}

.logo_reservia {
  width: 100%;
}

nav {
  display: flex;
  height: 100%;
}

.lien_inscription {
  align-items: flex-end;
  padding-left: 20px;
  color: var(--main-blue-color);
  font-weight: bold;
}

.menu_nav {
  display: flex;
  align-items: center;
  height: 100%;
  color: black;
  padding: 0px 20px;
}

.menu_nav:hover {
  color: var(--main-blue-color);
  border-top-color: var(--main-blue-color);
  border-top-style: solid;
  border-top-width: 2px;
}

.recherche_titre p {
  margin: 0px;
}
.recherche_titre h1 {
  margin: 0px 0px 5px 0px;
  font-size: 1.8em;
}
.cont_icone {
  background-color: var(--main-grey-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.map_icone {
  margin: 15px 15px 15px 15px;
}

.bouton_recherche {
  text-decoration: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--main-blue-color);
  color: white;
  border: 0px;
  padding: 15px;
  font-weight: bold;
}
.bouton_recherche_loupe {
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--main-blue-color);
  color: white;
  border: 0px;
  padding: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 16px;
  left: 190px;
  display: none;
}
.fa-search {
  font-size: 1.3em;
}

#form_recherche {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.input_recherche {
  height: 42px;
  border-width: 1px;
  border-color: var(--main-grey-color);
  border-style: solid;
  padding-left: 15px;
  font-family: var(--main-police);
  font-weight: bold;
}
.input_recherche:focus-visible {
  outline: none;
}
#filtres {
  margin: 15px 0px;
}
.filtres_info {
  margin-bottom: 30px;
}

#filtres,
.filtres_liste {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.filtres_icone {
  position: absolute;
  left: -3px;
  bottom: -3px;
  color: var(--main-blue-color);
  border: 1px solid var(--main-lightblue-color);
  border-radius: 50%;
  background-color: var(--main-lightblue-color);
  padding: 18px;
  margin: 0px;
}
#filtres h2 {
  margin-right: 45px;
}
.filtres {
  position: relative;
  border: 2px solid var(--main-grey-color);
  border-radius: 30px;
  padding: 15px 15px 15px 65px;
  margin: 7px 15px 15px 0px;
  color: black;
  font-weight: bold;
  overflow: visible;
}

.filtres:hover {
  color: var(--main-blue-color);
  background-color: var(--main-lightblue-color);
}

.fa-info {
  border: 2px solid var(--main-grey-color);
  color: var(--main-blue-color);
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}

/* Syle Main */

/*Section hébergements*/
#section_hebergements {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap-reverse;
}

.hebergements {
  width: 60%;
  background-color: var(--main-grey-color);
  border-radius: 15px;
  padding: 30px;
}

.resultats_hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.image_resultat_hebergements {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.figure_resultat_hebergements {
  margin: 0px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.resultat_hebergements {
  height: 170px;
  width: 30%;
  min-width: 190px;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  background-color: white;
  margin-bottom: 15px;
}
.description_hebergements {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50px;
  width: 100%;
  font-size: 0.8em;
  align-self: flex-end;
  padding: 5px;
}

.description_texte {
  font-size: 0.8em;
  color: black;
}
.description_hebergements p,
.description_hebergements h2 {
  margin: 0px 0px 5px 0px;
}
.description_hebergements ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/*Style Etoiles*/
.fa-star {
  color: var(--main-blue-color);
}
.star-empty {
  color: var(--main-grey-color);
}

/*Section Populaires*/

.populaires {
  background-color: var(--main-grey-color);
  border-radius: 15px;
  padding: 30px;
  width: 30%;
}

#pop_titre {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.resultats_populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.resultat_populaires {
  height: 140px;
  width: 90%;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  background-color: white;
  margin-bottom: 15px;
}

.image_resultat_populaires {
  width: 120px;
  height: 140px;
  object-fit: cover;
  object-position: center;
}

.image_resultat_populaires_3 {
  width: 120px;
  object-fit: cover;
  object-position: center;
}

.figure_resultat_populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.description_populaires {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 0.8em;
  padding-left: 20px;
}
.description_populaires h2 {
  margin: 20px 0px 5px 0px;
}
.description_populaires p {
  margin: 5px 0px 0px 0px;
}
.description_populaires ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/*Section activités*/
#section_activites {
  padding: 15px 0px;
}

.resultats_activites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
  height: 400px;
}

.resultat_activites {
  width: 23%;
  min-width: 260px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--main-grey-color);
}

.image_resultat_activites {
  object-fit: cover;
}
.figure_resultat_activites {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.description_activites {
  width: 100%;
  font-size: 0.5em;
  color: black;
}
.description_activites h2 {
  margin-left: 15px;
}

/*Activités 1*/
.resultat_activites_1 {
  height: 100%;
}
.image_resultat_activites_1 {
  height: 90%;
  object-position: 50% 0%;
}

.description_activites_1 {
  height: 10%;
}

/*activités 2*/

.resultat_activites_2 {
  height: 52%;
}

.image_resultat_activites_2 {
  height: 80%;
  object-position: 50% 45%;
}

.description_activites_2 {
  height: 20%;
}

/*activités 3*/
.resultat_activites_3 {
  height: 42%;
}

.image_resultat_activites_3 {
  height: 76%;
  object-position: 50% 10%;
}

.description_activites_3 {
  height: 24%;
}

/*activités 4*/
.resultat_activites_4 {
  height: 100%;
}

.image_resultat_activites_4 {
  height: 90%;
  object-position: 50% 0%;
}

.description_activites_4 {
  height: 10%;
}

/*activités 5*/
.resultat_activites_5 {
  height: 42%;
}

.image_resultat_activites_5 {
  height: 76%;
  object-position: 50% 20%;
}

.description_activites_5 {
  height: 24%;
}

/*activités 6 */

.resultat_activites_6 {
  height: 52%;
}

.image_resultat_activites_6 {
  height: 80%;
  object-position: 50% 15%;
}

.description_activites_6 {
  height: 20%;
}

#activites h1 {
  margin: 15px 0px;
}

/*Style footer*/
footer {
  width: 100%;
  display: flex;
  background-color: var(--main-grey-color);
  font-size: 0.8em;
}

footer div {
  padding: 20px 0px;
  flex: 1;
}

#a_propos {
  padding-left: 50px;
}

@media only screen and (max-width: 768px) {
  .menu_nav {
    padding: 0px;
    flex: 1;
    justify-content: center;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo_reservia {
    width: fit-content;
    height: 50%;

    order: 1;
  }

  nav {
    order: 3;
    height: 50%;
    width: 100%;
    border-bottom: 2px solid var(--main-grey-color);
  }

  .lien_inscription {
    display: flex;
    align-items: center;
    order: 2;
    height: 50%;
  }

  .menu_nav:hover {
    color: var(--main-blue-color);
    border-bottom-color: var(--main-blue-color);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top: none;
  }

  .bouton_recherche {
    display: none;
  }
  .bouton_recherche_loupe {
    display: block;
  }
}
