:root {
  --main-blue-color: #0065fc;
  --main-lightblue-color: #deebff;
  --main-grey-color: #f2f2f2;
  --main-police: "Raleway";
}

body {
  font-family: var(--main-police);
}

#blocPage {
  width: 1100px;
  margin: auto;
}

#MainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav a {
  padding-left: 20px;
}
a {
  text-decoration: none;
}

.menu_nav {
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  padding-right: 20px;
}

.menu_nav:hover {
  color: var(--main-blue-color);
  border-top-color: var(--main-blue-color);
  border-top-style: solid;
  border-top-width: 5px;
}
.menu_nav:active {
  color: var(--main-blue-color);
  border-top-color: var(--main-blue-color);
  border-top-style: solid;
  border-top-width: 5px;
}

#filtres,
#filtres ul {
  display: flex;
  list-style-type: none;
  align-items: baseline;
}
#filtres ul a {
  margin-right: 15px;
}

#section_hebergements {
  display: flex;
}

.hebergements {
  position: relative;

  height: 500px;
  width: 50%;
  background-color: var(--main-grey-color);
  border-radius: 5px;
}
.resultats_hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}
.resultats_populaires {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.resultats {
  position: relative;

  height: 75px;
  width: 130px;
  margin: 15px;
  border-radius: 5px;
}
.resultats img {
  width: 100%;
  height: 150px;
  text-align: center;
}
.resultats h3 {
  font-size: 1em;
  padding: 0px;
}
.resultats p {
  font-size: 0.8em;
  padding: 0px;
}
.description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  align-items: baseline;
}
.description ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  bottom: 8px;
  left: 16px;
  padding: 0px;
}

.fas {
  margin-right: 15px;
}

#pop_titre {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#activites {
  position: relative;

  height: 500px;
  width: 100%;
  border-radius: 5px;
}
.resultats_activites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

footer {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-grey-color);
  margin: auto;
}
